@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

input {
	height: 2.25rem;
	width: 100%;
	padding: 1rem;
	border-radius: 1.25rem;
	margin-top: 0.25rem;
	border: 0.0625rem solid $outlines;
	line-height: 1.25rem;
	font-size: 0.8125rem;
	font-weight: 400;

	@include tablet {
		height: 2.375rem;
		line-height: 1.375rem;
		font-size: 0.875rem;
	}

    &:focus {
		outline: none;
		border: 1px solid $interactive-elements;
	}
}

select{
    @extend input;
    padding: 0 0 0 1rem;
    color: $placeholder-text;
    -webkit-appearance: none;
    -moz-appearance: none;
}

option{
    line-height: 1.25rem;
	font-size: 0.8125rem;
	font-weight: 400;
    color: $global-text;
}

h3 {
	color: $global-text;
}

h2 {
	margin: 1.5rem 0;
}

.warehouse-form {
	@include tablet {
		display: flex;
		flex-direction: column;
	}

	& > div {
		width: inherit;
        @include tablet{
            margin-top: 1.5rem;
        }
	}
	&__container{
		@include tablet{
			display: flex;
			justify-content: space-between;
		}
		
	}

	&__details {
		flex: 1;
		border-bottom: 0.0625rem solid $outlines;
		margin: 0 -1rem;
		padding: 0 1rem 1rem 1rem;

		@include tablet {
			border-bottom: none;
            margin-right: 1.5rem;
            padding-right: 0;
		}
	}

	&__contact {
		flex: 1;
		@include tablet {
			box-sizing: content-box;
			padding-left: 1.5rem;
			border-left: 0.0625rem solid $outlines;
		}
	}

	&__buttons {
		background-color: rgba(rgb(247, 248, 249), 0.7);
		margin: 1rem -1rem -1rem -1rem;
		padding: 1rem;
		display: flex;
		gap: 1rem;

        @include tablet{
            margin: 1rem -2rem -2rem -2rem;
            justify-content: flex-end;
        }
		&-cancel{
			flex: 1;
			@include tablet{
				flex: 0;
			}
		}
		&-submit{
			flex: 1;
			@include tablet{
				flex: 0;
			}
		}
		
	}
}

.h2-subheader{
    @include tablet{
        margin-top: 0rem;
    }   
}
