@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/mixins.scss' as *;

input {
	height: 2.25rem;
	width: 100%;
	padding: 1rem;
	border-radius: 1.25rem;
	margin-top: 0.25rem;
	border: 0.0625rem solid $outlines;
	line-height: 1.25rem;
	font-size: 0.8125rem;
	font-weight: 400;

	@include tablet {
		height: 2.375rem;
	}
}

h3 {
	color: $global-text;
}

h2 {
	margin: 1.5rem 0;
}

.warehouse-form__details {
	border-bottom: 0.0625rem solid $outlines;
	margin: 0 -1rem;
	padding: 0 1rem 1rem 1rem;
}

.warehouse-form__buttons {
	background-color: rgba(rgb(247, 248, 249), 0.7);
	margin: 1rem -1rem -1rem -1rem;
	padding: 1rem;
    display: flex;
    gap: 1rem;
    width: inherit;
	&-cancel {
        display: block;
		background-color: $global-white;
		border: 0.0625rem solid $outlines;
		width: 100%;
        height: 2.25rem;
		border-radius: 1.25rem;
        text-align: center;
        line-height: 2.25rem;
        color: $placeholder-text;
	}
}
