@use "../../../styles/partials/colors" as *;
@use "../../../styles/partials/typography" as *;
@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/global" as *;


.search-bar {
    position: relative;
    width: 100%;

    @include tablet {
        width: 185px; 
    }

    @include desktop {
        width: 274px; 
    }


    &__icon {
        position: absolute;
        top: 42%;
        right: $unit-16;
        pointer-events: none;
        transform: translateY(-50%); 
    }

    &__field {
        background-color: $global-white;
        border: 1px solid $borders;
        border-radius: $unit-20;
        text-indent: $unit-4;
        width: 100%; 
        height: $unit-36;

        @include tablet {
            height: $unit-38;
        }

        &:focus {
            border-color: $interactive-elements;
            outline: none; 
        }

        &::placeholder {
            color: $placeholder-text;
        }
    }
}