@use '../../../styles/partials/mixins' as *;

.modal__overlay {
	min-width: 100vw;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
}

.modal__container {
	width: 80%;
	height: 80vh;
	background-color: white;
	margin: auto;
	padding: 1rem;
	@include tablet {
		height: 16.375rem;
		width: 42rem;
	}
}

.modal__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;

	@include tablet {
		padding: 0 2rem;
		gap: 1.5rem;
	}

	&-close {
		float: right;
	}

	&-buttons {
		display: flex;
		gap: 1rem;
		width: 100%;

		@include tablet {
			justify-content: flex-end;
		}
	}

	&-text {
		@include tablet {
			width: 90%;
		}
	}
}

h1 {
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.modal__cancel-btn {
	@include btn-styles(white, 0.0625rem solid #bdc5d5, #5c667e, none, #2e66e5);
}

.modal__delete-btn {
	@include btn-styles(#c94515, none, white, #232940, none);
}
