// primary colors
$global-text: #13182C;
$interactive-elements: #2E66E5;  
$global-white: #fff;           


// secondary colors
$table-column-headers-text: #5C667E;   
$placeholder-text: #5C667E;    

$outlines: #BDC5D5; 
$dividers: #BDC5D5; 
$borders: #BDC5D5;  
$table-sorting-icon: #BDC5D5;
$nav-link: #BDC5D5;


// background colors
$header-bg: #232940;  
$cta-btn-hover: #232940;
$page-bg: #F7F8F9;   
$table-column-header-bg: #F7F8F9; 
$cta-bg: #F7F8F9;


// supporting colors
$label-in-stock: #158463;    
$label-out-of-stock: #C94515; 
$error-states: #C94515;  
$delete-icon: #C94515;
$box-shadow: #13182C1A;