// primary colors
$global-text: #13182c;
$interactive-elements: #2e66e5;
$global-white: #fff;

// secondary colors
$table-column-headers-text: #5c667e;
$placeholder-text: #5c667e;

$outlines: #bdc5d5;
$dividers: #bdc5d5;
$borders: #bdc5d5;
$table-sorting-icon: #bdc5d5;
$nav-link: #bdc5d5;

// background colors
$header-bg: #232940;
$cta-btn-hover: #232940;
$page-bg: #f7f8f9;
$table-column-header-bg: #f7f8f9;
$cta-bg: #f7f8f9;

// supporting colors
$label-in-stock: #158463;
$label-out-of-stock: #c94515;
$error-states: #c94515;
$delete-icon: #c94515;
$box-shadow: #13182c1a;
