


// primary colors
$primary-black: #13182C; 
$primary-indigo: #2E66E5; 
$primary-white: #fff; 


// secondary colors
$secondary-slate: #5C667E; 
$secondary-cloud: #BDC5D5; 


// background colors
$bg-graphite: #232940; 
$bg-light-grey: #F7F8F9; 


// supporting colors
$support-green: #158463; 
$support-red: #C94515; 