@use './variables' as *;
@use './colors' as *;

//media queriy manager
@mixin tablet {
	@media (min-width: $tablet-bp) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-bp) {
		@content;
	}
}


//flexbox
@mixin flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

//page overlap
@mixin page-overlap{
	width: 100%;
    height: auto;
    background-color: $global-white;
    box-shadow: 0rem .125rem .3125rem 0rem $box-shadow;
    padding: 0 1rem 1rem 1rem;
    position: relative;
    top: -4rem;
}
