//breakpoint
$tablet-bp: 768px;
$desktop-bp: 1280px;

/* Global Units */
$unit-100: 6.25rem;
$unit-80: 5rem;
$unit-68: 4.25rem;
$unit-64: 4rem;
$unit-60: 3.75rem;
$unit-56: 3.5rem;
$unit-48: 3rem;
$unit-44: 2.75rem;
$unit-40: 2.5rem;
$unit-38: 2.375rem;
$unit-36: 2.25rem;
$unit-32: 2rem;
$unit-24: 1.5rem;
$unit-22: 1.375rem;
$unit-20: 1.25rem;
$unit-18: 1.125rem;
$unit-16: 1rem;
$unit-14: 0.875rem;
$unit-12: 0.75rem;
$unit-10: 0.625rem;
$unit-8: 0.5rem;
$unit-4: 0.25rem;

/* Spacing units */

$spacing-btn:.5rem;
$spacing-mini:.25rem;
$spacing-xsmall: .75rem;
$spacing-small: 1rem;
$spacing-medium: 2rem;
$spacing-large: auto;
