@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;  

.item-details {
  margin-bottom: 1.5rem;

  h2 {
    margin-bottom: 1rem;
    @include typography.h2-subheader; 
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: $global-text; 
  }

  input, textarea, select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid $outlines; 
    border-radius: 0.25rem;
    font-size: $unit-14;
    margin-bottom: 1rem;
    
    &:focus {
      outline: none;
      border-color: $interactive-elements; 
    }
  }
}
