@use "../../styles/partials/_colors.scss" as c;
@use "../../styles/partials/_variables.scss" as var;
@use "../../styles/partials/_mixins.scss" as m;
@use "../../styles/partials/_typography.scss" as t;

.warehouse-item-row {
  border-bottom: 1px solid c.$borders;
  padding: var.$spacing-small;
}

.warehouse-item {
  display: flex;
  gap: var.$unit-68;
  margin-bottom: 10px;

  &__details {
    margin: 0 auto;
  }

  &__details > span,
  &__name > span {
    padding: 5px 0;
    // display: flex;
    // flex-direction: column;
    font-size: 0.8125rem;
    line-height: 1.25rem;
  }

  &__details > span:before,
  &__name > span:before {
    content: attr(data-label);
    font-weight: bold;
    display: inline-block;
    width: 120px;
    color: c.$table-column-headers-text;
    font-size: 0.6875rem;
    line-height: 1rem;
    font-weight: t.$semi;
  }
}


.warehouse-status {
  padding: 3px 8px;
  border-radius: 4px;
  display: inline-block;
}

.warehouse-actions {
  margin-block: var.$spacing-btn;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding-right: var.$spacing-small; //add
  }
}

@include m.tablet {
  .warehouse-item {
    &__details > span,
    &__name > span {
      flex: 1;
      padding: 10px;
    }

    &__details > span:before,
    &__name > span:before {
      display: none;
    }

    &__contact-name { //add
      white-space: nowrap;
    }

    &__contact-info { //add
      display: flex;
      flex-direction: column; 
      gap: var.$spacing-xsmall; 
      white-space: normal; 
      padding-right: 16px; //do not work
    }
  }

  .warehouse-actions {
    margin-top: 0;
  }
}

.warehouse-item__name {
  position: relative;
  display: table-cell;
}

.warehouse-icon {
  height: 20px;
  width: 20px;
  position: absolute;
  right: 0%;
  top: 40%;
  // transform: translateY(-50%);
}

// does not work
.warehouse-item__contact-info__phone,
.warehouse-item__contact-info__email {
  margin-right: 16px; 
}