@use "../../styles/partials/_colors.scss" as c;
@use "../../styles/partials/_mixins.scss" as m;
@use "../../styles/partials/_variables.scss" as var;

.inventory-list {
  // position: absolute;
  // top: -70px;
  // width: 96%;
  // max-width: 1200px;
  // margin: 0 auto;
  // background-color: c.$global-white;
  // border-radius: 4px;
  // right: 2%;
  height: auto;
  background-color: c.$global-white;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem c.$box-shadow;
  border-radius: 4px;
  margin: auto;
  position: relative;
  top: -9vh;
  width: 100%;
  padding: var.$spacing-small;
  &.no-shadow {
    box-shadow: none;
  }

  &__title {
    margin-block: var.$spacing-small;
  }

  &__search {
    margin: var.$spacing-small auto;
  }
}
.hidden {
  display: none;
}

.inventory-header {
  display: none;
  font-weight: bold;
  background-color: c.$global-white;
  padding: var.$spacing-small 0;
}

.inventory-table {
  width: 100%;
}

.item-row {
  padding: 0;
  margin-block: var.$spacing-small;
}

@include m.tablet {
  .inventory-list {
    max-width: 1200px;
    margin: 0 auto;
    top: -5vh;
    padding: var.$unit-20;
    background-color: c.$global-white;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &__mobile-wrapper {
      display: flex;
      align-items: center;
    }

    &__title {
      margin-block: 0;
    }

    &__header-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-block: var.$unit-24;
    }

    &__search {
      margin-inline: auto 1rem;
      margin-block: 0;
    }
  }

  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var.$spacing-small;
  }

  .inventory-header {
    display: contents;
  }

  .inventory-header th {
    padding: var.$spacing-small;
    background-color: #f4f4f4;
    text-align: left;
    border-bottom: 2px solid #ddd;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .item-row td {
    padding: var.$spacing-small;
    vertical-align: middle;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }

  .inventory-item__name {
    display: flex;
    align-items: center;
  }

  .inventory-item__name .item-name {
    margin-right: var.$spacing-xsmall;
    font-weight: bold;
    color: c.$interactive-elements;
    text-decoration: none;
  }

  .inventory-item__name .icon {
    width: 20px;
    height: 20px;
    top: 50%;
    right: 20%;
  }

  .inventory-item__category,
  .inventory-item__status,
  .inventory-item__quantity,
  .inventory-item__warehouse {
    text-align: left;
  }

  .inventory-item__status {
    &.in-stock {
      color: #28a745;
      background-color: rgba(40, 167, 69, 0.1);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
    }

    &.out-of-stock {
      color: #dc3545;
      background-color: rgba(220, 53, 69, 0.1);
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;
    }
  }

  .actions {
    display: flex;
    justify-content: space-around;
  }

  .actions .delete-btn,
  .actions .edit-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }

  .actions .delete-btn:hover,
  .actions .edit-btn:hover {
    transform: scale(1.1);
  }
}

@include m.desktop {
  .inventory-list {
    &__search {
      margin-inline: auto 1rem;
    }
  }
}
