@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;

.error-container {
  display: flex;
  align-items: center;
  color: $error-states;
  margin-top: $unit-4;

  img {
    margin-right: $unit-4;
    width: 1rem;
    height: 1rem;
  }
}
