@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/colors' as *;
@use '../../styles/partials/variables' as *;

.header {
	width: 100vw;
	height: 12.5rem;
	background-color: $header-bg;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: -1rem;

	@include tablet {
		height: 11.625rem;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		margin-left: -2rem;
	}
	@include desktop{
		margin-left: -8.125rem;
	}

	&__logo {
		padding: 1.5rem 0;

		@include tablet {
			padding-left: 2rem;
		}

		@include desktop {
			padding-left: 8.125rem;
		}
	}

	&__nav-links {
		display: flex;
		justify-content: space-around;
		width: 100%;

		@include tablet {
			width: auto;
			padding-right: 2rem;
			padding-top: 1.5rem;
		}

		@include desktop {
			padding-right: 8.125rem;
		}
	}

	&__nav-links > a {
		width: 43.7%;
		height: 2.25rem;
		border-radius: 1.25rem;
		text-align: center;
		font-size: 0.8125rem;
		line-height: 2.25rem;
		text-decoration: none;
		color: $nav-link;

		&.active {
			color: $global-white;
			background-color: $global-text;
		}

		&:hover {
			color: $global-white;
			text-decoration: underline;
		}

		@include tablet {
			width: 6.6875rem;
		}
	}
}
