@use '../../../styles/partials/colors.scss' as *;

.inOutStock {
	display: block;
	box-sizing: border-box;
	height: 1.5rem;
	width: fit-content;
	border-radius: 1.25rem;
	padding: .25rem .5rem .25rem .5rem;
	font-size: .75rem;
	font-weight: 600;
	line-height: 1.125rem;
	text-align: center;
}

.inStock {
	color: $label-in-stock;
	background-color: rgba(rgb(21, 132, 99), 0.07);
}

.outStock {
	color: $label-out-of-stock;
	background-color: rgba(rgb(201, 69, 21), 0.07);
}
