@use '../../../styles/partials/colors.scss' as *;

.inOutStock {
	display: block;
	box-sizing: border-box;
	height: 24px;
	width: fit-content;
	border-radius: 20px;
	padding: 4px 8px 4px 8px;
	font-size: 12px;
	font-weight: 600;
	line-height: 18px;
	text-align: center;
}

.inStock{
	color: $label-in-stock;
	background-color: rgba(rgb(21, 132, 99), 0.07);;
}

.outStock{
	color: $label-out-of-stock;
	background-color: rgba(rgb(201, 69, 21),0.07);
}


