@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;  


.avail {

    @include tablet {
        width: 100%;
        padding: 0 2rem;
        margin: 1.5rem 0;
    }

    @include desktop {
		padding: 0 2.5rem;
	}

    &__title {
        padding: 0 0 1.5rem;

        @include tablet {
            padding: 0 0 2rem;
        }
    }
    &__label {
        display: block;
        padding-bottom: 0.25rem;
    }

    &__input {
        border: 1px solid $borders;
        border-radius: 1.25rem;
        width: 100%;
        height: 2.25rem;
        padding-left: 1rem;
        margin-bottom: 1rem;
        
        @include tablet {
            height: 2.375rem;
            margin-bottom: 1.5rem;
        }
        
        &:focus {
			outline: $interactive-elements solid 1px;
		}
    }

    &__radio-container {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1rem;
        
        @include tablet {
			padding-bottom: 1.625rem;
		}
    }

    &__radio-set {
        flex-basis: 50%;
        display: flex;
        align-items: center;
    }

    &__radio {
        height: 1rem;
        width: 1rem;
    }

    &__radio-label {
        font-size: .8125rem;
        padding-left: .5rem;
    }

    &__select-wrap {
        position: relative;
    }

    &__select-wrap::after {
        content: url('../../assets/Icons/arrow_drop_down-24px.svg');
        fill: $table-sorting-icon;
        font-size: 1rem;
        top: 6px;
        right: 1.25rem;
        position: absolute;
    }

    &__warehouse {
        appearance: none;
        border: 1px solid $borders;
        border-radius: 1.25rem;
        width: 100%;
        height: 2.25rem;
        padding-left: 1rem;
        margin-bottom: .5rem;
        background-color: $global-white;
        
        @include tablet {
            height: 2.375rem;
        }
        &:focus {
			outline: $interactive-elements solid 1px;
		}
    }
}

.error {
    outline: $error-states solid 1px;
}

.out-of-stock {
    display: none;
}