@use '../../styles/partials/colors' as *;
@use '../../styles/partials/typography' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/variables' as *;

.add-inventory-container {
<<<<<<< HEAD
	margin-top: -4rem;
	background-color: $global-white;
	text-align: left;
	color: $global-text;
	box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
	border-radius: 3px;
=======
  margin-top: -4rem;
  background-color: $global-white;
  text-align: left;
  color: $global-text;
  box-shadow: 0rem .125rem .3125rem rgba(19, 24, 44, 0.1);
  border-radius: .1875rem;
>>>>>>> develop

	@include tablet {
		margin-top: -5.55rem;
	}
}

.add-inventory-heading {
<<<<<<< HEAD
	padding: $unit-24 1.75rem;
	border-bottom: 1px solid $borders;
	display: flex;
=======
  padding: $unit-24 1.75rem;
  border-bottom: .0625rem solid $borders;
  display: flex;
>>>>>>> develop

	&__link {
		display: flex;
		align-items: center;
	}

	&__title {
		padding: 0 0 0 $unit-12;
		margin: 0;
	}
}

.add-inventory-form {
	@include tablet {
		display: flex;
		flex-wrap: wrap;
	}

<<<<<<< HEAD
	&__component-container {
		padding: $unit-16 $unit-24;
		border-bottom: 1px solid $borders;
=======
  &__component-container {
      padding: $unit-16 $unit-24;
      border-bottom: .0625rem solid $borders;
>>>>>>> develop

		@include tablet {
			border-bottom: none;
		}

		@include tablet {
			display: flex;
			flex-basis: 50%;
			padding: 0;
		}
	}

	&__button-wrapper {
		width: 100%;
		padding: 0 $unit-24;
	}

	&__button-container {
		height: 4.25rem;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background-color: $global-white;
		gap: $unit-16;

		@include tablet {
			justify-content: flex-end;
			gap: $unit-16;
			height: 4.5rem;
			padding-right: $unit-32;
		}

		@include desktop {
			padding-right: $unit-40;
		}
	}
}
