@use "../../styles/partials/colors" as *;
@use "../../styles/partials/typography" as *;

.add-inventory {
  &__title {
    margin-bottom: 2rem;
    color: $global-text;
  }

  &__form {
    margin-bottom: 2rem;
  }

  &__buttons {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
}
