@use '../../styles/partials/mixins.scss' as *;
@use '../../styles/partials/colors.scss' as *;
@use '../../styles/partials/variables.scss' as *;

.inventory{
    width: 100%;
    height: auto;
    background-color: $global-white;
    box-shadow: 0px 2px 5px 0px $box-shadow;
    padding: 1rem;

    &-header{
        display: flex;
    }

    &-stats__status-quant{
        display: flex;
        width: 100%

    }

    &-stats__status-quant > div{
        width: 50%;
    }
    
}

label{
    font-size: .6875rem;
    font-weight: 600;
    line-height: 1rem;
    color: $placeholder-text;
}

